.Header{
   color: pink;
}
.Contact{
    color: aquamarine;
}
.H{
    color: cornflowerblue;
    text-align: left;
}
.A{
    text-align: left;
 }
 .C{
    text-align: right;
 }
 .D{
    background-color: rgb(230, 243, 248);
 }
 .F{
    color: #7B68EE;
 }
 .G{
    color: #FFD700;
 }
 .I{
    color: #FF6347;
 }
 .J{
    color: #66FF66;
 }
.k{
   color: aqua;
}
